@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
    font-family:'Anonymous Pro', monospace;
    background-color: #37393e; 
    color:whitesmoke;
}

.line-1{
    position: relative;
    top: 60px; 
    width: 18em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 18em;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

#abt_me{
    float: right;
    text-align: left;
}

#assignment{
    float: left;
}

a:link {
    color: #9acd32;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #9acd32;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #9acd32;
    background-color: transparent;
    text-decoration: none;
}
  
a:active {
    color: #9acd32;
    background-color: transparent;
    text-decoration: none;
}

@media screen and (max-width: 414px){
    .line-1{
        position: relative;
        top: 60px; 
        width: 18em;
        margin: 0 auto;
        border-right: 2px solid rgba(255,255,255,.75);
        font-size: 129%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);    
    }

    @keyframes typewriter{
        from{width: 0;}
        to{width: 18em;}
    }

}